<h1>Your result</h1>

<h3>Your word : <%= @attempt %></h3>
<h3>Time taken to answer : <%= @result[:time] %></h3>
<h3>Translation : <%= @result[:translation] %></h3>
<h3>Your score : <%= @result[:score] %></h3>
<h3>Message: <%= @result[:message] %></h3>
